
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="viewport"    content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"  />
    <meta name="author"      content="Mohd Khairi Mohd Adnan" />
    <meta name="Classification" content="Social/Religion/Islam">
    <meta name="description" content="Waktu Solat dan Berbuka di Malaysia" />
    <meta name="keywords"    content="Sistem Panduan Solat Umat Islam , Waktu Solat, Malaysia, Falak JAKIM, Jadual Waktu Solat, Subuh,Dhuha,Zohor,Asar,Maghrib,Isyak, Taqwim, Jakim, takwim, takwim solat, taqwim solat"/>
    <meta name="Language" content="MS">
    <meta name="Rating" content="General">
    <meta name="google" value="notranslate">
	  
	  
    <title>Waktu Solat Malaysia</title>
       <!-- Compiled and minified CSS -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" -->
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.1/vue-resource.min.js"></script>
   
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


 </head>
  <body class="bg-faded"  >
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse navbar-fixed-top" id="main">
      <a class="navbar-brand" href="/">SOLAT.MY</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"> {{location}} <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{zone}}</a>
          <ul class="dropdown-menu">
            <li v-for="zone in zones" class="dropdown-item">
              <a class="white-text" href="#" v-on:click="setZone(zone.zone)"> {{zone.zone}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="container">

      <div class="section" id='daily'>

        <div class="text-center">
          <h1>{{today.timetables[0].tarikh}}</h1>
          <h2>{{today.timetables[0].tarikh_hijrah}}</h2>
          <h3>{{today.locations[0]}}</h3>
        </div>
        <br/>
        <div class="row text-center lead">
          <div class="col">
            <i class="material-icons icon-lg">face</i>
            <h3>Imsak</h3>
            <h4>{{today.timetables[0].imsak}}</h4>
          </div>
          <div class="col">
            <i class="material-icons icon-lg">face</i>
            <h3>Subuh</h3>
            <h4>{{today.timetables[0].subuh}}</h4>
          </div>
          <div class="col">
            <i class="material-icons icon-lg">face</i>
            <h3>Syuruk</h3>
            <h4>{{today.timetables[0].syuruk}}</h4>
          </div>
          <div class="col">
            <i class="material-icons icon-lg">wb_sunny</i>
            <h3>Zohor</h3>
            <h4>{{today.timetables[0].zohor}}</h4>
          </div>
          <div class="col">
            <i class="material-icons icon-lg">wb_cloudy</i>
            <h3>Asar</h3>
            <h4>{{today.timetables[0].asar}}</h4>
          </div>
          <div class="col">
            <i class="material-icons icon-lg">brightness_3</i>
            <h3>Maghrib</h3>
            <h4>{{today.timetables[0].maghrib}}</h4>
          </div>
          <div class="col">
            <i class="material-icons icon-lg">brightness_4</i>
            <h3>Isyak</h3>
            <h4>{{today.timetables[0].isyak}}</h4>
          </div>
        </div>

      </div>

      <div class="section"  id="monthly">
        <div class="row white-text">
        
          <div class="col-md-12">
            <div class="btn-group d-flex justify-content-center">
              <a class="btn btn-secondary" href="#!" v-bind:class="{'active': month == '1'}" v-on:click="getThisMonth('1')">01</a>
              <a class="btn btn-secondary" href="#!" v-bind:class="{'active': month == '2'}" v-on:click="getThisMonth('2')">02</a>
              <a class="btn btn-secondary" href="#!" v-bind:class="{'active': month == '3'}" v-on:click="getThisMonth('3')">03</a>
              <a class="btn btn-secondary" href="#!" v-bind:class="{'active': month == '4'}" v-on:click="getThisMonth('4')">04</a>
              <a class="btn btn-secondary" href="#!" v-bind:class="{'active': month == '5'}" v-on:click="getThisMonth('5')">05</a>
              <a class="btn btn-secondary" href="#!" v-bind:class="{'active': month == '6'}" v-on:click="getThisMonth('6')">06</a>
              <a class="btn btn-secondary" href="#!" v-bind:class="{'active': month == '7'}" v-on:click="getThisMonth('7')">07</a>
              <a class="btn btn-secondary" href="#!" v-bind:class="{'active': month == '8'}" v-on:click="getThisMonth('8')">08</a>
              <a class="btn btn-secondary" href="#!" v-bind:class="{'active': month == '9'}" v-on:click="getThisMonth('9')">09</a>
              <a class="btn btn-secondary" href="#!" v-bind:class="{'active': month == '10'}" v-on:click="getThisMonth('10')">10</a>
              <a class="btn btn-secondary" href="#!" v-bind:class="{'active': month == '11'}" v-on:click="getThisMonth('11')">11</a>
              <a class="btn btn-secondary" href="#!" v-bind:class="{'active': month == '12'}" v-on:click="getThisMonth('12')">12</a>
            </div>
            <br/>
            <br/>
            <div class="card">
              <div class="card-block">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Tarikh</th>
                      <th>Hari</th>
                      <th>Subuh</th>
                      <th>Syuruk</th>
                      <th>Zohor</th>
                      <th>Asar</th>
                      <th>Maghrib</th>
                      <th>Isyak</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="day in days.timetables">
                      <td>{{day.tarikh}}<br>{{day.tarikh_hijrah}}</td>
                      <td>{{day.hari}}</td>
                      <td>{{day.subuh}}</td>
                      <td>{{day.syuruk}}</td>
                      <td>{{day.zohor}}</td>
                      <td>{{day.asar}}</td>
                      <td>{{day.maghrib}}</td>
                      <td>{{day.isyak}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <footer class="footer">
      <div class="footer-copyright">
        <div class="container">
          Made in <a class="orange-text lighten-3" href="#"> Malaysia with love</a>
        </div>
      </div>
    </footer>
	
    <script src="/js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41818279-2', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
