
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="Waktu Solat Malaysia" name="description" />
    <meta content="Waktu, Solat, Taqwim, Jakim, takwim, takwim solat, taqwim solat" name="keywords" />
    <meta content="Mohd Khairi Mohd Adnan" name="author" />
    <title>Waktu Solat Malaysia</title>
       <!-- Compiled and minified CSS -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" -->
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.1/vue-resource.min.js"></script>
   
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


 </head>
  <body class="bg-faded">
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse navbar-fixed-top">
      <a class="navbar-brand" href="index">SOLAT.MY</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/takwim">TAKWIM <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <div class="container">
      <div class="row white-text" id="app">
        <div class="col-md-2">
          <ul class="list-group">
            <li v-for="zone in zones" class="list-group-item list-group-item-action">
              <a class="white-text" href="#" v-on:click="getThisZone(zone.zone)"> {{zone.zone}}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-10">
          <h1>
            {{current_zone}}
          </h1>
          <h5>Month</h5>
          <div class="btn-group">
            <button type='button' class="btn btn-secondary p-l-8 waves-effect waves-light" href="#" style="margin-right: 2%;" v-bind:class="{&#39;active&#39;: month == &#39;1&#39;}" v-on:click="getThisMonth(&#39;1&#39;)">01</button>
            <button type='button' class="btn btn-secondary p-l-8 waves-effect waves-light" href="#" style="margin-right: 2%;" v-bind:class="{&#39;active&#39;: month == &#39;2&#39;}" v-on:click="getThisMonth(&#39;2&#39;)">02</button>
            <button type='button' class="btn btn-secondary p-l-8 waves-effect waves-light" href="#" style="margin-right: 2%;" v-bind:class="{&#39;active&#39;: month == &#39;3&#39;}" v-on:click="getThisMonth(&#39;3&#39;)">03</button>
            <button type='button' class="btn btn-secondary p-l-8 waves-effect waves-light" href="#" style="margin-right: 2%;" v-bind:class="{&#39;active&#39;: month == &#39;4&#39;}" v-on:click="getThisMonth(&#39;4&#39;)">04</button>
            <button type='button' class="btn btn-secondary p-l-8 waves-effect waves-light" href="#" style="margin-right: 2%;" v-bind:class="{&#39;active&#39;: month == &#39;5&#39;}" v-on:click="getThisMonth(&#39;5&#39;)">05</button>
            <button type='button' class="btn btn-secondary p-l-8 waves-effect waves-light" href="#" style="margin-right: 2%;" v-bind:class="{&#39;active&#39;: month == &#39;6&#39;}" v-on:click="getThisMonth(&#39;6&#39;)">06</button>
            <button type='button' class="btn btn-secondary p-l-8 waves-effect waves-light" href="#" style="margin-right: 2%;" v-bind:class="{&#39;active&#39;: month == &#39;7&#39;}" v-on:click="getThisMonth(&#39;7&#39;)">07</button>
            <button type='button' class="btn btn-secondary p-l-8 waves-effect waves-light" href="#" style="margin-right: 2%;" v-bind:class="{&#39;active&#39;: month == &#39;8&#39;}" v-on:click="getThisMonth(&#39;8&#39;)">08</button>
            <button type='button' class="btn btn-secondary p-l-8 waves-effect waves-light" href="#" style="margin-right: 2%;" v-bind:class="{&#39;active&#39;: month == &#39;9&#39;}" v-on:click="getThisMonth(&#39;9&#39;)">09</button>
            <button type='button' class="btn btn-secondary p-l-8 waves-effect waves-light" href="#" style="margin-right: 2%;" v-bind:class="{&#39;active&#39;: month == &#39;10&#39;}" v-on:click="getThisMonth(&#39;10&#39;)">10</button>
            <button type='button' class="btn btn-secondary p-l-8 waves-effect waves-light" href="#" style="margin-right: 2%;" v-bind:class="{&#39;active&#39;: month == &#39;11&#39;}" v-on:click="getThisMonth(&#39;11&#39;)">11</button>
            <button type='button' class="btn btn-secondary p-l-8 waves-effect waves-light" href="#" style="margin-right: 2%;" v-bind:class="{&#39;active&#39;: month == &#39;12&#39;}" v-on:click="getThisMonth(&#39;12&#39;)">12</button>
          </div>
          <br /><br />
          <div class="card">
            <div class="card-block">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>
                      Tarikh 
                    </th>
                    <th>
                      Hari
                    </th>
                    <th>
                      Subuh
                    </th>
                    <th>
                      Syuruk
                    </th>
                    <th>
                      Zohor
                    </th>
                    <th>
                      Asar
                    </th>
                    <th>
                      Maghrib
                    </th>
                    <th>
                      Isyak
                    </th>
                    <th>
                      Tarikh Hijrah
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="day in days.timetables">
                   
                    <td>
                      {{day.tarikh}}
                    </td>
                    <td>
                      {{day.hari}}
                    </td>
                    <td>
                      {{day.subuh}}  
                    </td>
                    <td>
                      {{day.syuruk}}
                    </td>
                    <td>
                      {{day.zohor}}
                    </td>
                    <td>
                      {{day.asar}} 
                    </td>
                    <td>
                      {{day.maghrib}} 
                    </td>
                    <td>
                      {{day.isyak}}
                    </td>
                    <td>
                      {{day.tarikh_hijrah}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-copyright">
        <div class="container">
          Made in <a class="orange-text lighten-3" href="#"> Malaysia with love</a>
        </div>
      </div>
    </footer>
	
    <script src="/js/takwim.js"></script>
  </body>
</html>
